.custom-file-upload label {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: fit-content;
}

    .custom-file-upload label:hover {
        background-color: #e2e2e2;
    }
